doctype 5
html(lang="en")
  head
    title #{store} | #{title}
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
  body
    .modal.hide.fade#modal
    .navbar.navbar-static-top
        .navbar-inner
          .container
            ul.nav
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/contact") Contact
              if (!locals.logged)
                li
                  a(data-toggle="modal", data-target="#modal", href="/modals/register") Register
                li
                  a(data-toggle="modal", data-target="#modal", href="/modals/login") Login 
              else
                li
                  a(href="/account/home") Account
                li       
                  a(href="/account/logout") Logout
            #cart
              include cart/cart
    .container
      a(href="/")
        img(src="/img/style/header.png")
      .navbar
        .navbar-inner
          ul.nav
            each category in categories
              li
                a(href="/category/#{category.seo}") #{category.name}
          form.navbar-search.pull-right
            input.search-query(type="text", placeholder="Search")
      .main
        h1= title
      hr
    script(src="http://code.jquery.com/jquery.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")
    script(src="/js/controller/main.js")
    block scripts