extends ../layout
block content
    table.table.table-hover
        thead
          tr
            th Name
            th Make
            th Model
            th Featured
            th Price
        tbody
          each product in products
            tr(onclick="document.location = '/products/#{product._id}';")
              td #{product.name}
              td #{product.make}
              td #{product.model}
              td #{product.featured}
              td #{product.pricing.retail}
    .col-sm-1.col-sm-offset-11
        a.btn.btn-primary.btn-block(href="/products/new") New 
            span.glyphicon.glyphicon-plus