extend layout
block content
  .row
    h2 #{title}
    hr
  .row
      table.table.table-hover
        thead
          th Name
          th Price
          th Quantity
          th Remove
        tbody
          each product in cart.products
            tr
              td  
                a(href='/product/#{product.seo}') #{product.name}
              td  £#{product.price}
              td= product.quantity
              td 
                i.icon-remove
  .row
     .pull-right
        h4 Total: £#{cart.total}
        if (!locals.logged)
            a(href="/checkout/guest").btn.btn-primary Continue As Guest
        else
            a(href="/checkout/order").btn.btn-primary Continue As #{user.name.first}
